<p class="post-footer">
  <span> © {{ site.time | date: "%Y" }} Alok Ranjan Daftuar</span><br />
  <!-- <span> © {{ site.time | date: "%Y" }} Alok · Built with GitHub Pages</span> -->
  <em>
    If this resonates with your experience or you’d like to discuss architecture trade-offs,
    feel free to reach out via
    <a href="https://www.linkedin.com/in/aloknecessary/" target="_blank">LinkedIn</a>
    or
    <a href="https://github.com/aloknecessary" target="_blank">GitHub</a>
    or 
    <a href="mailto:aloknecessary@gmail.com">Email</a>.
  </em>
</p>