---
layout: default
---

<nav  class="nav-bar">
  <a href="{{ '/blogs' | relative_url }}">← Back to Blogs</a>
  <span class="nav-separator">|</span>
  <a href="{{ '/' | relative_url }}">Home</a>
  <span class="nav-separator">|</span>
  <a href="{{ '/tags' | relative_url }}"> Topics</a>
</nav>

<article class="post">
  <header>
    <h1>{{ page.title }}</h1>

    {% if page.date %}
    <p class="meta">
      {{ page.date | date: "%B %d, %Y" }} • {{ content | number_of_words |
      divided_by: 200 | plus: 1 }} min read
    </p>
    {% endif %}
  </header>
  <h3 class="description">{{ page.description }}</h3>
  <div class="post-content">{{ content }}</div>

  {% if page.tags %}
  <div class="post-tags">
    {% for tag in page.tags %}
    <a href="{{ '/tags/#' | append: tag | relative_url }}" class="tag">
      #{{ tag }}
    </a>
    {% endfor %}
  </div>
  {% endif %}

  <hr />

  <nav class="post-navigation">
    {% if page.previous %}
    <a href="{{ page.previous.url | relative_url }}">
      ← {{ page.previous.title }}
    </a>
    {% endif %} {% if page.next %}
    <a href="{{ page.next.url | relative_url }}"> {{ page.next.title }} → </a>
    {% endif %}
  </nav>
</article>
