---
layout: default
---

{% include schema-blog.html %}

<link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}">

<nav  class="nav-bar">
  <a href="{{ '/blogs' | relative_url }}">← Back to Blogs</a>
  <span class="nav-separator">|</span>
  <a href="{{ '/' | relative_url }}">Home</a>
  <span class="nav-separator">|</span>
  <a href="{{ '/categories' | relative_url }}">Categories</a>
  <span class="nav-separator">|</span>
  <a href="{{ '/tags' | relative_url }}">Topics</a>
</nav>

<article class="post">
  <header>
    <h1>{{ page.title }}</h1>

    {% if page.date %}
    <p class="meta">
      {{ page.date | date: "%B %d, %Y" }} • {{ content | number_of_words |
      divided_by: 200 | plus: 1 }} min read 
      {% if page.author %}
        • by {{ page.author }}
      {% endif %}
    </p>
    {% endif %}
    {% include share.html %}
  </header>
  <h2 class="description">{{ page.description }}</h2>

  <div class="post-content">{{ content }}</div>

  {% if page.tags %}
  <div class="post-tags">
    {% for tag in page.tags %}
    <a href="{{ '/tags/#' | append: tag | relative_url }}" class="tag">
      #{{ tag }}
    </a>
    {% endfor %}
  </div>
  {% endif %}

  <hr class="border"/>

  <div class="bottom-share-container">
    {% include share.html %}
  </div>
  
  {% if page.comments != false %}
  <div id="comments" style="margin-top: 3rem;">
    <script src="https://giscus.app/client.js"
        data-repo="aloknecessary/aloknecessary.github.io"
        data-repo-id="R_kgDOQ_tpLA"
        data-category="General"
        data-category-id="DIC_kwDOQ_tpLM4C3Ls-"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
  </div>
  {% endif %}

  {% include related-posts.html %}

  <nav class="post-navigation">
    {% if page.previous %}
    <a href="{{ page.previous.url | relative_url }}">
      ← <b>Prev: </b>{{ page.previous.title }}
    </a>
    {% endif %} {% if page.next %}
    <a href="{{ page.next.url | relative_url }}"><b>Next: </b>{{ page.next.title }} → </a>
    {% endif %}
  </nav>
</article>
