<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} | {{ site.title }}</title>

    {% include head.html %}

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  </head>
  <body>
    <!-- <header>
      <h1>{{ site.title }}</h1>
      <nav class="hidden">
         Add navigation links here if needed 
      </nav>
    </header> -->

    {% unless page.hide_header %}

    <header>
      <h1>Alok Ranjan Daftuar</h1>
      <p>
        Solution Architect specializing in cloud-native systems, scalable
        architectures, and pragmatic engineering decisions that align technology
        with business outcomes.
      </p>
    </header>

    {% endunless %}

    <main>{{ content }}</main>

    <footer>{% include footer.html %}</footer>
  </body>
</html>
